<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
<meta charset="utf-8">
<title>Formulaire de modification d'un spot</title>
</head>
<body>
	<div layout:fragment="content">
		<div th:if="${userEmail != null}">
			<div class="col-md-6">
				<form th:action="@{/changespot}" method="post">	
										
						<div class="form-group">
							<label class="control-label">ID du spot :       </label> 
								<input class="form-control" type="text" name="spotId" th:value="${spotId}" readonly="readonly"/>
						</div>
																									
						<div class="form-group">
							<label class="control-label">Nom du spot :       </label> 
								<input class="form-control" type="text" name="spotname" th:value="${spotname}">
						</div>
						
						<div class="form-group">
							<label for="control-label">Le spot est t'il équipé ?</label>
								<select name="is_equipped" id="is_equipped">
									<option selected="selected">oui</option>
									<option value="non">non</option>
								</select>
						</div>		
						<!--  A mettre pour MEMBER only -->
						<div class="form-group">
							<label for="control-label">Le spot est t'il officiel ?</label>
								<select name="is_official" id="is_official">
									<option selected="selected">non</option>
									<option value="oui">oui</option>
								</select>
						</div>	
											
						<button type="submit" class="btn btn-primary">Modifier le spot</button>
				</form>
			</div>
		</div>
	</div>
		<div th:if="${userEmail == null}">
			<br><br><br>
			<h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Il est nécessaire de posséder un compte pour effectuer cette action et d'être connecté.</h1>
		</div>
</body>
</html>