<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
<meta charset="utf-8">
<title>Formulaire d'enregistrement d'un spot</title>
</head>
<body>
	<div layout:fragment="content">
		<div th:if="${userEmail != null}">
			<div class="col-md-6">
				<form th:action="@{/createspot}" method="post">																							
						<div class="form-group">
							<label class="control-label">Nom du spot :       </label> 
								<input class="form-control" type="text" name="spot_name" pattern="[A-Za-z]{3,30}" required>
						</div>
						
						<div class="form-group">
							<label class="control-label">Lieu du spot:       </label> 
								<input class="form-control" type="text" name="spot_lieu" th:value="${spot_lieu}" pattern="[A-Za-z]{3,30}" required>
							</div>
							
						<div class="form-group">
							<label for="control-label">Le spot est t'il équipé ?</label>
								<select name="is_equipped" id="is_equipped">
									<option selected="selected" value="true">oui</option>
									<option value="false">non</option>
								</select>
						</div>			
						<div class="form-group">
							<label for="control-label">Continuer en créant un secteur pour ce spot ?</label>
								<select name="continueToCreateSecteur" id="continueToCreateSecteur">
									<option selected="selected" value="true">oui</option>
									<option value="false">non</option>
								</select>
						</div>							
						<button type="submit" class="btn btn-primary">Créer le spot</button>
				</form>
			</div>
		</div>
				<div th:if="${userEmail == null}">
			<br><br><br>
			<h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Il est nécessaire de posséder un compte pour effectuer cette action et d'être connecté.</h1>
		</div>
			
	</div>

</body>
</html>