<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
<meta charset="utf-8">
<title>Liste des spots d'escalade</title>
</head>
<body>
	<div layout:fragment="content">	
<div class="container">
			<div class="panel panel-primary">
				<div class="panel-heading">Liste des sites d'escalade</div>
				<div class="panel-body">
					<form th:action="@{/index}" method="get">
						<label>Mot clé :</label> <input type="text" name="motCle"
							th:value="${motCle}">
						<button type="submit" class="btn btn-primary">Chercher</button>
					</form>
				</div>
				<div class="panel-body">
					<table class="table">
						<tr>
							<th>ID du spot</th>
							<th>Nom du spot</th>
							<th>Equipé</th>
							<th>Officiel "Les amis de l'escalade"</th>
							<th>Crée par</th>
						</tr>
						<tr th:each="s:${spotlist}">
							<td th:text=${s.id}></td>
							<td th:text=${s.spotname}></td>
							<td th:text=${s.is_equipped}></td>
							<td th:text=${s.is_official}></td>
							<td th:text=${s.user.getFirstname()}></td>
							<td><a th:href="@{/listesecteur(spotname=${s.spotname}, user=${s.user.getEmail()})}">Voir le(s) secteur(s)</a>
							</td>
							<td th:if="${userEmail == s.user.getEmail()}">
							<a th:href="@{/changespot(spotId=${s.id}, user=${s.user.getEmail()})}">Modifier le spot</a>
							</td>
							<td th:if="${userEmail == s.user.getEmail()}">
							<a th:href="@{/createsecteur(spotname=${s.spotname}, user=${s.user.getEmail()})}">Ajouter un secteur</a>
							</td>
							<td th:if="${userEmail == s.user.getEmail()}">
							<a onclick="return confirm('Etes vous sur?')" th:href="@{/delete(id=${s.id}, page=${currentPage}, motCle=${motCle})}">Supprimer le spot</a>
							</td>
							
						</tr>
					</table>

					<ul class="nav nav-pills">
						<li th:class="${currentPage==status.index}?'active':''"
							th:each="page,status:${pages}"><a
							onclick="return confirm(Etes vous sur ?'')"
							th:href="@{/listespot(page=${status.index}, motCle=${motCle})}"
							th:text="${status.index}"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
</html>