<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
<meta charset="utf-8">
<title>Liste des spots d'escalade</title>
</head>
<body>
	<div layout:fragment="content">	
			<div class="container">
				<div class="panel panel-primary">
							<div class="panel-body">
								<form th:action="@{/listesecteur}" method="get">
									<input type="hidden" name="id"  th:value="${spot_id}">
									<label>Mot clé :</label> <input type="text" name="motCle" th:value="${motCle}">
									<button type="submit" class="btn btn-primary">Chercher</button>
								</form>
							</div>
							
	
						<h6>Nom du spot :   <a th:href="@{/listespot(id=${spot_id})}" th:text="${spot_name}"></a></h6>
						<h6>Lieu du spot :   <span th:text="${spot_lieu}"></span> </h6>
						<h6>ID du spot :   <span th:text="${spot_id}"></span> </h6>
						
						
						
						<div th:if="${spot_id != null}">
						<div th:if="${userEmail == userThatCreateTheSpot}">
						<a th:href="@{/createsecteur(id=${spot_id})}">
						Ajouter un nouveau secteur au spot</a>
						</div><br>
						</div>
							
						<div class="panel-heading">Liste des secteurs</div>
					<div class="panel-body">
						<table class="display table table-striped table-hover">
							<tr>
								<th>ID du secteur</th>
								<th>Nom du secteur</th>
								<th>Nombre de voie(s)</th>
							</tr>
							<tr th:each="s:${secteurlist}">				
								<td th:text=${s.secteur_id}></td>
								<td th:text=${s.secteur_name}></td>
								<td th:text=${s.getVoies().size()}></td>
								 <td><a th:href="@{/listevoie(id=${s.secteur_id})}">
								Voir le(s) voie(s) de ce secteur</a>
								</td>
								
								
								<td th:if="${userEmail == userThatCreateTheSpot}">
								<a th:href="@{/createvoie(id=${s.secteur_id})}">
								Ajouter une voie</a>
								</td>
								
								<td th:if="${userEmail == userThatCreateTheSpot}">
								<a th:href="@{/changesecteur(id=${s.secteur_id})}">
								Modifier le secteur</a>
								</td>
								<td th:if="${userEmail == userThatCreateTheSpot}">
								<a onclick="return confirm('Etes vous sur?')" th:href="@{/deletesecteur(id=${s.secteur_id}, page=${currentPage}, motCle=${motCle})}">
								Supprimer le secteur</a>
								</td>
							</tr>
						</table>
	
						<ul class="nav nav-pills">
							<li th:class="${currentPage==status.index}?'active':''"
								th:each="page,status:${pages}"><a
								onclick="return confirm(Etes vous sur ?'')"
								th:href="@{/listespot(page=${status.index}, motCle=${motCle})}"
								th:text="${status.index}"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
</body>
</html>