<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
<meta charset="utf-8">
<title>Liste des spots d'escalade</title>
</head>
<body>
	<div layout:fragment="content">	
<div class="container">
			<div class="panel panel-primary">
				<div class="panel-body">
					<form th:action="@{/listespot}" method="get">
						<br>
						<div class="form-group">
						
						
						<label for="control-label">Recherche avancée</label>	
								
							<select name="choice" id="choice">												
								<option th:each="c:${choices}" th:value="${c}" th:text="${c}" th:selected="${c.equals(selector)}">
								</option>
							</select>
								
						<label>Mot clé :</label> <input type="text" name="motCle"th:value="${motCle}">	
						<button type="submit" class="btn btn-primary">Chercher</button>
						</div>	
					</form>			
				</div>
				<div class="panel-heading">Liste des sites d'escalade</div>
				<div class="panel-body">
					<table class="table">
						<tr>
							<th>ID du spot</th>
							<th>Nom du spot</th>
							<th>Lieu du spot</th>
							<th>Equipé</th>
							<th>Officiel "Les amis de l'escalade"</th>
							<th>Crée par</th>
							<th>Nombre de secteur(s)</th>
						</tr>
						<tr th:each="s:${spotlist}">
							<td th:text=${s.spot_id}></td>
							<td th:text=${s.spot_name}></td>
							<td th:text=${s.spot_lieu}></td>
							<td th:text=${s.is_equipped}></td>
							<td th:text=${s.is_official}></td>
							<td th:text=${s.user.getFirstname()}></td>
							<td th:text=${s.getSecteurs().size()}></td>
							<td><a th:href="@{/listesecteur(id=${s.spot_id})}">
							Voir le(s) secteur(s)</a>
							</td>
							<td th:if="${userEmail == s.user.getEmail()}">
							<a th:href="@{/createsecteur(id=${s.spot_id})}">
							Ajouter un secteur</a>
							</td>
							<td th:if="${userEmail == s.user.getEmail()}">
							<a th:href="@{/changespot(id=${s.spot_id})}">
							Modifier le spot</a>
							</td>
							<td th:if="${userEmail == s.user.getEmail()}">
							<a onclick="return confirm('Etes vous sur?')" th:href="@{/deletespot(id=${s.spot_id}, page=${currentPage}, motCle=${motCle})}">
							Supprimer le spot</a>
							</td>
							<td><a th:href="@{/listecommentaire(id=${s.spot_id})}">
							Voir le(s) commentaires(s)</a>
							</td>
						</tr>
					</table>

					<ul class="nav nav-pills">
						
						
	

					<!--  
					
					
					 
						<li th:class="${currentPage==status.index}?'active':''" 
						th:each="page,status:${index}">
	
						 <a onclick="return confirm(Etes vous sur ?'')" 
						th:href="@{/listespot(page=${status.index}, motCle=${motCle})}" 
						th:text="${status.index}"></a></li>-->
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
</html>