<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
<meta charset="utf-8">
<title>Liste des spots d'escalade</title>
</head>
<body>
	<div layout:fragment="content">	
			<div class="container">
				<div class="panel panel-primary">
							<div class="panel-body">
								<form th:action="@{/index}" method="get">
									<label>Mot clé :</label> <input type="text" name="motCle" th:value="${motCle}">
									<button type="submit" class="btn btn-primary">Chercher</button>
								</form>
							</div>
							
						<h4>Nom du spot :</h4>
						<div th:text="${spotname}"></div>
						<h4>ID du spot :</h4>
						<div th:text="${spotId}"></div>
						
						<div class="panel-heading">Liste des secteurs</div>
					<div class="panel-body">
						<table class="table">
							<tr>
								<th>ID du secteur</th>
								<th>Nom du secteur</th>
							</tr>
							<tr th:each="s:${secteurlist}">
							
								<td th:text=${s.id}></td>
								<td th:text=${s.secteurname}></td>
								<td><a th:href="@{/listevoie(spotId=${spotId}, spotname=${spotname}, secteurname=${s.secteurname}, secteurId=${s.id}, 
								userThatCreateTheSpot=${userThatCreateTheSpot})}">Voir le(s) voie(s) de ce secteur</a>
								</td>
								<td th:if="${userEmail == userThatCreateTheSpot}">
								<a th:href="@{/createvoie(spotId=${spotId}, spotname=${spotname}, secteurname=${s.secteurname}, secteurId=${s.id}, 
								is_official=${s.spot.isIs_official()}, is_equipped=${s.spot.isIs_equipped()}, madeByUser=${userThatCreateTheSpot})}">
								Ajouter une voie</a>
								</td>
								<td th:if="${userEmail == userThatCreateTheSpot}">
								<a th:href="@{/changesecteur(spotId=${spotId}, spotname=${spotname}, secteurname=${s.secteurname}, secteurId=${s.id})}">
								Modifier le secteur</a>
								</td>
								<td th:if="${userEmail == userThatCreateTheSpot}">
								<a onclick="return confirm('Etes vous sur?')" th:href="@{/deletesecteur(spotId=${spotId}, id=${s.id}, page=${currentPage}, motCle=${motCle})}">
								Supprimer le secteur</a>
								</td>
								
							</tr>
						</table>
	
						<ul class="nav nav-pills">
							<li th:class="${currentPage==status.index}?'active':''"
								th:each="page,status:${pages}"><a
								onclick="return confirm(Etes vous sur ?'')"
								th:href="@{/listespot(page=${status.index}, motCle=${motCle})}"
								th:text="${status.index}"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
</body>
</html>