<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
<title>Personal page</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
		<h1>Bienvenue dans votre espace personnel</h1>
			<div class="panel-body">
				<table class="table">
				
						<tr>
							<!--  th:text=${s.topo_id} rajouter le nombre --> 
							<td>
							<a th:href="@{/userlistetopo}">
							Afficher la liste des topos que vous possédez (<span th:text=${topoPossede}></span>)</a>
							</td>
							
							<td>
							<a th:href="@{/userlisterequestreceived}">
							Afficher les demandes de topo reçu (<span th:text=${requeteRecu}></span>)</a>
							</td>
							
							
						</tr>

				</table>
			</div>
		</div>
	</div>
</body>
</html>