<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
<title>Liste des requêtes concernant vos topos</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
		<h1>Bienvenue dans votre espace personnel</h1>
			<div class="panel-body">
				<table class="table">
								
								
						<tr>
							<th>Demande de reservation par</th>
							<th>Pour le topo nommé</th>
						</tr>
						<tr th:each="e,iterStat : ${emailUserWhoMadeRequest}">
							<td th:text="${e}"></td>
							<td th:text="${listToposName[__${iterStat.index}__]}"></td>
 						

							 <td>
							 <form th:action="@{/reservationaccepted}" method="post">
							 	<input name="topoNameAndEmailUserWhoMadeRequest" th:value="${listofListOfTopoNameWithEmailUserWhoMadeRequest[__${iterStat.index}__]}" type="hidden">
							 	<input type="submit" value="Accepter la demande de réservation">
							 </form>
							 </td>
							 
							 <td>
							 <form th:action="@{/reservationdeclined}" method="post">
							 	<input name="topoNameAndEmailUserWhoMadeRequest" th:value="${listofListOfTopoNameWithEmailUserWhoMadeRequest[__${iterStat.index}__]}" type="hidden">
							 	<input type="submit" value="Refuser la demande de réservation">
							 </form>
							 </td>
						</tr>
					</table>
			</div>
		</div>
	</div>
</body>
</html>